//opacity
$primary-opacity: 0.7;
$rare-opacity: 0.8;

//colors
$white-color:#fff;
$royalblue-color: rgba(36, 5, 242, 1);
$darkblue-color: rgba(40, 41, 56, 1);
$tintblue-color: rgba(28, 30, 83, 1);
$grey-color: rgba(244, 246, 252, 1);
$lightgrey-color: rgba(244, 245, 245, 1);
$bluegrey-color:rgba(238, 244, 250, 1);
$Accent-color: rgba(187, 187, 203, 1);
$yellow-color: rgba(252, 217, 128, 1);
