$opacity: 0.7;
$primary-color: rgba(28, 30, 83, 1);
$gold-color: rgba(252, 217, 128, 1);
$pseudo-white-color: rgba(244, 246, 252, 1);
$secondary-color: rgba(27, 28, 43, 1);
$dark-blue: rgba(40, 41, 56, 1);
$white-color: #fff;