@use '../utilities/variables' as *;

//STYLE
.button{
    border: 2px solid transparent;
    border-radius: 40px;
}

//button sizes
.isPrimary{
    padding: 18px 48px;
}

.isLarge{
    padding: 20px 48px;
}

.isSmall{
    padding: 12px 20px;
}

//button colors
.yellowbtn{
    background-color: $yellow-color;
}

.darkbluebtn{
    background-color: $darkblue-color;
    a{
        color: $white-color;
    }
}

.contactbtn{
    background-color: transparent;
    border: 2px solid rgba($color: $white-color, $alpha: 0.4);
    a{
        color: $white-color;        
    }
}

.textbtn{
    background-color: transparent;
    a{
        color: $black-color;
    }
}

.readmore{
    background-color: transparent;
    a{
        color: $royalblue-color;
    }
}



//HOVER EFFECTS
.yellowbtn:hover{
    border: 2px solid $yellow-color;
    background-color: rgba($color: $yellow-color, $alpha: 0.4);
    a{
        color: $yellow-color;
    }
}

.darkbluebtn:hover{
    border: 2px solid $darkblue-color;
    background-color: rgba($color: $darkblue-color, $alpha: 0.4);
}

.contactbtn:hover{
    background-color: rgba($color: rgba($color: $white-color, $alpha: 0.4), $alpha: 0.2);
    border-color: transparent;
}

.textbtn:hover{
    a{
        color: $grey-color;
    }
}

.readmore:visited{
    a{
        color: purple;
    }
}