//color pallete
$white-color: #fff;
$royalblue-color: #2405F2;
$tintblue-color: #1C1E53;
$darkblue-color: #282938;
$yellow-color: #FCD980;
$grey-color: #F4F6FC;
$accent-color: #EEF4FA;
$black-color: #000;