@media ( min-width: 1400px ){
    .container{
        max-width: 1320px;
    }

}

@media ( max-width: 1200px ){
    .container{
        max-width: 1100px;
    }
}

@media ( max-width: 992px ){
    .container{
        max-width: 800px;
    }
    #header a{
        font-size: 12px;
    }
    .hero-box{
        flex-direction: column;
    }
    .hero-left, .hero-right, .card-txt{
        max-width: 100%
    }
    .card-links{
        flex-direction: column;
        gap: 30px;
    }
    .card-links a, .card-icon i{
        margin: 10px 0;
    }
}

@media ( max-width:780px ){
    .container{
        max-width: 540px;
    }

    .weWork-box{
        flex-direction: column;
    }
    .work-grid-card h1 {
        font-size: 20px;
    }
    .work-grid-card p{
        font-size: 12px;
    }
}

@media ( max-width: 576px ){
    .container{
        max-width: 100%;
    }

    #header-menu{
        display: none;
    }

    .header-logo a{
        font-size: 30px;
    }

    .project-txt, .comments-box, .questions-box{
        flex-direction: column;
    }

    .features p{
        max-width: 100%;
        width: 100%;
    }

    .features-grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }


    /* .features-grid{
        [class*="grid-"] {
            width: 100%;
          } 
    }*/
}