@use '../utilities/variables' as *;

//styling
#benefits{
    padding-bottom: 30px;
}

.benefits{
    &-box.flexcolumn{
        align-items: center;
        gap: 48px;

        h2{
            max-width: 600px;
            width: 100%;
            text-align: center;
        }
    }

    &-cards.flexrow{
        gap: 32px;
        transform: scale(1);
    }

    &-card{
        &.flexcolumn{
            padding: 50px 32px 48px 47px;
            gap: 26px;
        }

        img{
            width: 24px;
        }

        &-txt.flexcolumn{
            gap: 12px;
        }
    }
}

//hover effects

.benefits-card{
    transition: opacity 0.6s ease;
}

.benefits-cards:hover > :not(:hover){
    opacity: 0.4;
}

//responsive view
@media (max-width: 962px){
    .benefits-cards.flexrow{
        flex-wrap: wrap;
    }
}