@use '../utilities/variables' as *;

//styling
.build{
    &-box.flexcolumn{
        gap: 40px;
        align-items: center;
        text-align: center;
    }

    &-text.flexcolumn{
        max-width: 700px;
        width: 100%;
        align-items: center;
        gap: 20px;

        p{
            max-width: 85%;
            width: 100%;
        }
    }
}