@use '../utilities/variables' as *;

//styling
.client, .support{
    &-box.flexrow{
        justify-content: space-between;
        gap: 5rem;
    }

    &-left.flexcolumn{
        gap: 1rem;
        max-width: 45%;

        h6{
            font-size: 18px;
            line-height: 32px;
        }
    }
}


//responsive view
@media (max-width: 962px){
    .client, .support{
        &-box.flexrow{
            flex-direction: column-reverse;
        }
        &-left.flexcolumn{
            max-width: 100%;
            align-items: center;
            text-align: center;
        }
    }
}