@use '../utilities/variables' as *;

//styling
#contact{
    padding: 7rem 0;
    position: relative;
}

.contact{
    &-box{
        display: flex;
        gap: 13rem;
    }

    &-left{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &-info{
        margin-top: 10px;
        padding: 20px 40px;
        display: flex;
        gap: 15px;
        position: absolute;
        bottom: 0;

        h6{
            margin: 10px 0;
        }
    }

    &-right{
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        p{
            max-width: 61%;
            width: 100%;
        }
    }
}
.logo p{
    margin: 20px 0;
}


.icons{
    display: flex;
    gap: 25px;
}
/* END CONTACT */

/* footer */
#footer{
    background-color: var(--white-color);
}

.footer{
    &-box{
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    }

    &-right {
        ul{
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }
    }
}


//responsive view
@media (max-width: 780px){
    .contact-box{
        flex-direction: column;
        padding-bottom: 50px;
    }
}