@use '../utilities/variables' as *;

//styling
#header{
    padding: 1rem 0;
}

.header{
    &-box.flexrow{
        justify-content: space-between;
    }

    &-logo{
        margin: 33px 0;
    }

    &-right.flexrow{
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }

    &-menu{
        &-list.flexrow{
            gap: 32px;
            a{
                color: $accent-color;
                padding-bottom: 16px;
            }
        }
    }
}

//Hover effects
.header-menu-item a:hover{
    border-bottom: 2px solid $accent-color;
}

//responsive view
@media (max-width: 962px){
    .header{
        &-menu-list.flexrow{
            flex-direction: column;
        }
    }
    
}

@media (max-width: 580px){
    .header{
        &-menu{
            display: none;
        }
    }
}