@use '../utilities/variables' as *;

//styling
.portfolio.flexcolumn{
    &-box{
        align-items: center;
        text-align: center;
        gap: 4px;

        p{
            max-width: 56%;
        }
    }

    &-text.flexcolumn{
        align-items: center;
        gap: 24px;
    }
}