@use '../utilities/variables' as *;

//styling
.questions{
    &-box.flexrow{
        gap: 7rem;
    }

    
    &-left.flexcolumn{
        gap: 1rem;
    }

    &-sentences{
        padding: 32px 0;
        border-bottom: 2px solid $grey-color;
       
        &.flexrow{
            justify-content: space-between;
            gap: 30px;
       }


        &:nth-child(5){
            border-bottom: none;
        }
    }


}


@media (max-width: 780px){
    .questions-box.flexrow{
        flex-direction: column;
    }
}

