@use '../utilities/variables' as *;

//styling
.supporters{
    &-box.flexrow{
        margin: 4rem 0;
        justify-content: space-between;
    }
}

//responsive view
@media (max-width: 980px){
    .supporters-box{
        flex-wrap: wrap;
        gap: 10px;
    }
    
}