@use '../utilities/variables' as *;

//styling
.templates{
    &-box.flexcolumn{
        gap: 48px;
        align-items: center;
    }

    &-menu-list.flexrow{
        gap: 32px;
    }

    &-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 34px;
    }

    &-card{
        &-txt.flexcolumn{
            margin: 20px 0;
            gap: 12px;

        }

        &-btn{
            margin-top: 24px;

            i{
                transform: translateX(0);
                transition: all 0.4s ease-in-out ;
            }
        }
    }
}


//hover effects
.templates{
    &-menu-list-item a:active, &-menu-list-item a:focus{
        color: $royalblue-color;
        font-weight: 500;
    }

   &-card-btn{
        a:hover{
            color: $royalblue-color;
        }
        i:hover{
            transform: translateX(10px);
        }
   }
}   


//responsive view
@media (max-width: 800px){
    .templates-grid{
        grid-template-columns: 1fr;
    }
}