* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 940px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 580px) {
  .container {
    max-width: 100%;
  }
}
.semibold-text {
  font-weight: 500;
}

.bold-text {
  font-weight: 600;
}

.xbold-text {
  font-weight: 700;
}

p {
  opacity: 0.7;
}

.opacity_70 {
  opacity: 0.7;
}

.opacity_80 {
  opacity: 0.8;
}

.full_opacity {
  opacity: 1;
}

.white-text {
  color: #fff;
}

.primary-text-color {
  color: #282938;
}

.royalblue-text {
  color: #2405F2;
}

.black-text {
  color: #000;
}

.blue-background {
  background-color: #1C1E53;
}

.white-background {
  background-color: #fff;
}

.grey-background {
  background-color: #F4F6FC;
}

.yellow-background {
  background-color: rgba(252, 217, 128, 0.1);
}

.yellow-background-1 {
  background-color: #FCD980;
}

@media (min-width: 580px) {
  h1 {
    font-size: 54px;
    line-height: 74px;
  }
  h2 {
    font-size: 48px;
    line-height: 64px;
  }
  h3 {
    font-size: 38px;
    line-height: 56px;
  }
  h4 {
    font-size: 36px;
    line-height: 56px;
  }
  h5 {
    font-size: 32px;
    line-height: 48px;
  }
  h6 {
    font-size: 24px;
    line-height: 36px;
  }
  p {
    line-height: 28px;
  }
}
@media (max-width: 580px) {
  h1 {
    font-size: 40px;
    line-height: 52px;
  }
  h2 {
    font-size: 32px;
    line-height: 44px;
  }
  h3 {
    font-size: 24px;
    line-height: 36px;
  }
  h4 {
    font-size: 20px;
    line-height: 30px;
  }
  h5 {
    font-size: 16px;
    line-height: 24px;
  }
  h6 {
    font-size: 14px;
    line-height: 21px;
  }
}
.flexrow {
  display: flex;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.button {
  border: 2px solid transparent;
  border-radius: 40px;
}

.isPrimary {
  padding: 18px 48px;
}

.isLarge {
  padding: 20px 48px;
}

.isSmall {
  padding: 12px 20px;
}

.yellowbtn {
  background-color: #FCD980;
}

.darkbluebtn {
  background-color: #282938;
}
.darkbluebtn a {
  color: #fff;
}

.contactbtn {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.4);
}
.contactbtn a {
  color: #fff;
}

.textbtn {
  background-color: transparent;
}
.textbtn a {
  color: #000;
}

.yellowbtn:hover {
  border: 2px solid #FCD980;
  background-color: rgba(252, 217, 128, 0.4);
}
.yellowbtn:hover a {
  color: #FCD980;
}

.darkbluebtn:hover {
  border: 2px solid #282938;
  background-color: rgba(40, 41, 56, 0.4);
}

.contactbtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: transparent;
}

.textbtn:hover a {
  color: #F4F6FC;
}

.primarySectionPadding {
  padding: 5rem 0;
}

.fitImage img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.underline-grey {
  border-bottom: 2px solid #F4F6FC;
}

#header {
  padding: 1rem 0;
}

.header-box.flexrow {
  justify-content: space-between;
}
.header-logo {
  margin: 33px 0;
}
.header-right.flexrow {
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.header-menu-list.flexrow {
  gap: 32px;
}
.header-menu-list.flexrow a {
  color: #EEF4FA;
  padding-bottom: 16px;
}

.header-menu-item a:hover {
  border-bottom: 2px solid #EEF4FA;
}

@media (max-width: 962px) {
  .header-menu-list.flexrow {
    flex-direction: column;
  }
}
@media (max-width: 580px) {
  .header-menu {
    display: none;
  }
}
#contact {
  padding: 7rem 0;
  position: relative;
}

.contact-box.flexrow {
  gap: 13rem;
}
.contact-left, .contact .flexcolumn {
  gap: 20px;
}
.contact-info.flexrow {
  margin-top: 10px;
  padding: 20px 40px;
  gap: 15px;
  position: absolute;
  bottom: 0;
}
.contact-info.flexrow h6 {
  margin: 10px 0;
}
.contact-right, .contact .flexcolumn {
  padding-left: 20px;
  gap: 32px;
}
.contact-right p, .contact .flexcolumn p {
  max-width: 61%;
  width: 100%;
}

.logo p {
  margin: 20px 0;
}

.icons, .flexrow {
  gap: 25px;
}

/* END CONTACT */
/* footer */
.footer-box.flexrow {
  padding: 32px 0;
  justify-content: space-between;
}
.footer-right ul.flexrow {
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 780px) {
  .contact-box.flexrow {
    flex-direction: column;
    padding-bottom: 50px;
  }
}
.build-box.flexcolumn {
  gap: 40px;
  align-items: center;
  text-align: center;
}
.build-text.flexcolumn {
  max-width: 700px;
  width: 100%;
  align-items: center;
  gap: 20px;
}
.build-text.flexcolumn p {
  max-width: 85%;
  width: 100%;
}

#benefits {
  padding-bottom: 30px;
}

.benefits-box.flexcolumn {
  align-items: center;
  gap: 48px;
}
.benefits-box.flexcolumn h2 {
  max-width: 600px;
  width: 100%;
  text-align: center;
}
.benefits-cards.flexrow {
  gap: 32px;
  transform: scale(1);
}
.benefits-card.flexcolumn {
  padding: 50px 32px 48px 47px;
  gap: 26px;
}
.benefits-card img {
  width: 24px;
}
.benefits-card-txt.flexcolumn {
  gap: 12px;
}

.benefits-card {
  transition: opacity 0.6s ease;
}

.benefits-cards:hover > :not(:hover) {
  opacity: 0.4;
}

@media (max-width: 962px) {
  .benefits-cards.flexrow {
    flex-wrap: wrap;
  }
}
.supporters-box.flexrow {
  margin: 4rem 0;
  justify-content: space-between;
}

@media (max-width: 980px) {
  .supporters-box {
    flex-wrap: wrap;
    gap: 10px;
  }
}
.questions-box.flexrow {
  gap: 7rem;
}
.questions-left.flexcolumn {
  gap: 1rem;
}
.questions-sentences {
  padding: 32px 0;
  border-bottom: 2px solid #F4F6FC;
}
.questions-sentences.flexrow {
  justify-content: space-between;
  gap: 30px;
}
.questions-sentences:nth-child(5) {
  border-bottom: none;
}

@media (max-width: 780px) {
  .questions-box.flexrow {
    flex-direction: column;
  }
}
.f-hero-box.flexrow {
  margin: 30px 0;
  gap: 60px;
}
.f-hero-card.flexcolumn {
  max-width: 600px;
  width: 100%;
  gap: 32px;
}
.f-hero-card.flexcolumn h1 {
  max-width: 500px;
  width: 100%;
}
.f-hero-card.flexcolumn .button {
  max-width: 200px;
  width: 100%;
}

@media (max-width: 962px) {
  .f-hero-box.flexrow {
    flex-direction: column-reverse;
    align-items: center;
    max-width: 100%;
  }
}
@media (max-width: 580px) {
  .f-hero-box.flexrow {
    margin: 0 10px;
  }
  .f-hero-box.flexrow img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.client-box.flexrow, .support-box.flexrow {
  justify-content: space-between;
  gap: 5rem;
}
.client-left.flexcolumn, .support-left.flexcolumn {
  gap: 1rem;
  max-width: 45%;
}
.client-left.flexcolumn h6, .support-left.flexcolumn h6 {
  font-size: 18px;
  line-height: 32px;
}

@media (max-width: 962px) {
  .client-box.flexrow, .support-box.flexrow {
    flex-direction: column-reverse;
  }
  .client-left.flexcolumn, .support-left.flexcolumn {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }
}
.revision-box.flexrow, .delivery-box.flexrow {
  justify-content: space-between;
  gap: 5rem;
}
.revision-right.flexcolumn, .delivery-right.flexcolumn {
  gap: 1rem;
  max-width: 45%;
}
.revision-right.flexcolumn h6, .delivery-right.flexcolumn h6 {
  font-size: 18px;
  line-height: 32px;
}

@media (max-width: 962px) {
  .revision-box, .delivery-box {
    flex-direction: column;
  }
  .revision-right, .delivery-right {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }
}
.portfolio.flexcolumn-box {
  align-items: center;
  text-align: center;
  gap: 4px;
}
.portfolio.flexcolumn-box p {
  max-width: 56%;
}
.portfolio.flexcolumn-text.flexcolumn {
  align-items: center;
  gap: 24px;
}

.templates-box.flexcolumn {
  gap: 48px;
  align-items: center;
}
.templates-menu-list.flexrow {
  gap: 32px;
}
.templates-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 34px;
}
.templates-card-txt.flexcolumn {
  margin: 20px 0;
  gap: 12px;
}
.templates-card-btn {
  margin-top: 24px;
}
.templates-card-btn i {
  transform: translateX(0);
  transition: all 0.4s ease-in-out;
}

.templates-menu-list-item a:active, .templates-menu-list-item a:focus {
  color: #2405F2;
  font-weight: 500;
}
.templates-card-btn a:hover {
  color: #2405F2;
}
.templates-card-btn i:hover {
  transform: translateX(10px);
}

@media (max-width: 800px) {
  .templates-grid {
    grid-template-columns: 1fr;
  }
}
.design-box.flexcolumn {
  gap: 40px;
}
.design-text.flexcolumn {
  gap: 16px;
  max-width: 820px;
  width: 100%;
}
.design-text.flexcolumn h2 {
  max-width: 600px;
  width: 100%;
}
.design-sample.flexrow {
  justify-content: space-between;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(40, 41, 56, 0.3);
}

#about {
  max-width: 840px;
  width: 100%;
  margin: 0 auto;
}

.about-article.flexcolumn {
  justify-content: space-between;
  gap: 24px;
  text-align: justify;
}
.about-article-top.flexcolumn {
  gap: 12px;
}
.about-article li {
  list-style: disc;
}
.about-article ul {
  margin-left: 20px;
  gap: 16px;
}
.about-img {
  margin: 4rem 0;
}

.keywords-box.flexrow {
  justify-content: center;
  border-bottom: 1px solid rgba(40, 41, 56, 0.3);
  border-top: 1px solid rgba(40, 41, 56, 0.3);
  padding: 24px 0;
}
.keywords-item:first-child {
  font-size: 24px;
  line-height: 36px;
  color: #2405F2;
}
.keywords-item {
  font-size: 18px;
  line-height: 32px;
}/*# sourceMappingURL=style.css.map */