* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 940px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 580px) {
  .container {
    max-width: 100%;
  }
}
.semibold-text {
  font-weight: 500;
}

.bold-text {
  font-weight: 600;
}

.xbold-text {
  font-weight: 700;
}

@media (min-width: 580px) {
  h1 {
    font-size: 54px;
    line-height: 74px;
  }
  h2 {
    font-size: 48px;
    line-height: 64px;
  }
  h3 {
    font-size: 38px;
    line-height: 56px;
  }
  h4 {
    font-size: 36px;
    line-height: 56px;
  }
  h5 {
    font-size: 32px;
    line-height: 48px;
  }
  h6 {
    font-size: 24px;
    line-height: 36px;
  }
  p {
    line-height: 28px;
  }
}
@media (max-width: 580px) {
  h1 {
    font-size: 40px;
    line-height: 52px;
  }
  h2 {
    font-size: 32px;
    line-height: 44px;
  }
  h3 {
    font-size: 24px;
    line-height: 36px;
  }
  h4 {
    font-size: 20px;
    line-height: 30px;
  }
  h5 {
    font-size: 16px;
    line-height: 24px;
  }
  h6 {
    font-size: 14px;
    line-height: 21px;
  }
}
p {
  opacity: 0.7;
}

.opacity_70 {
  opacity: 0.7;
}

.opacity_80 {
  opacity: 0.8;
}

.white-text {
  color: #fff;
}

.primary-text-color {
  color: #282938;
}

.blue-background {
  background-color: #1C1E53;
}

.white-background {
  background-color: #fff;
}

.grey-background {
  background-color: #F4F6FC;
}

.yellow-background {
  background-color: rgba(252, 217, 128, 0.1);
}

.button {
  border: 2px solid transparent;
  border-radius: 40px;
}

.isPrimary {
  padding: 18px 48px;
}

.isLarge {
  padding: 20px 48px;
}

.isSmall {
  padding: 12px 20px;
}

.yellowbtn {
  background-color: #FCD980;
}

.darkbluebtn {
  background-color: #282938;
}
.darkbluebtn a {
  color: #fff;
}

.contactbtn {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.4);
}
.contactbtn a {
  color: #fff;
}

.textbtn {
  background-color: transparent;
}
.textbtn a {
  color: #000;
}

.yellowbtn:hover {
  border: 2px solid #FCD980;
  background-color: rgba(252, 217, 128, 0.4);
}
.yellowbtn:hover a {
  color: #FCD980;
}

.darkbluebtn:hover {
  border: 2px solid #282938;
  background-color: rgba(40, 41, 56, 0.4);
}

.contactbtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: transparent;
}

.textbtn:hover a {
  color: #F4F6FC;
}

#header {
  padding: 16px 0;
}

.header-box {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  margin: 33px 0;
}
.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.header-menu-list {
  display: flex;
  gap: 32px;
}
.header-menu-list a {
  color: #EEF4FA;
}

.header-menu-item a:hover {
  text-decoration: underline;
}

@media (max-width: 962px) {
  .header-menu-list {
    flex-direction: column;
  }
}
@media (max-width: 580px) {
  .header-menu {
    display: none;
  }
}
#f-hero {
  padding: 3rem 0;
}

.f-hero-box {
  margin: 30px 0;
  display: flex;
  gap: 60px;
}
.f-hero-card {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  gap: 32px;
}
.f-hero-card h1 {
  max-width: 500px;
  width: 100%;
}
.f-hero-card .button {
  max-width: 200px;
  width: 100%;
}
.f-hero_right img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 962px) {
  .f-hero-box {
    flex-direction: column-reverse;
    align-items: center;
    max-width: 100%;
  }
}
@media (max-width: 580px) {
  .f-hero-box {
    margin: 0 10px;
  }
  .f-hero-box img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
#supporters {
  padding: 5rem 0;
}

.supporters-box {
  margin: 4rem 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 980px) {
  .supporters-box {
    flex-wrap: wrap;
    gap: 10px;
  }
}
#benefits {
  padding-bottom: 30px;
}

.benefits-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.benefits-box h2 {
  max-width: 600px;
  width: 100%;
  text-align: center;
}
.benefits-cards {
  display: flex;
  gap: 32px;
  transform: scale(1);
}
.benefits-card {
  padding: 50px 32px 48px 47px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.benefits-card img {
  width: 24px;
}
.benefits-card-txt {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.benefits-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #f4f6fc;
}

@media (max-width: 962px) {
  .benefits-cards {
    flex-wrap: wrap;
  }
}
#client, #support {
  padding: 5rem 0;
}

.client-box, .support-box {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
.client-left, .support-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 45%;
}
.client-left h6, .support-left h6 {
  font-size: 18px;
  line-height: 32px;
}
.client-right img, .support-right img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 962px) {
  .client-box, .support-box {
    flex-direction: column-reverse;
  }
  .client-left, .support-left {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }
}
#revision, #delivery {
  padding: 5rem 0;
}

.revision-box, .delivery-box {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
.revision-right, .delivery-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 45%;
}
.revision-right h6, .delivery-right h6 {
  font-size: 18px;
  line-height: 32px;
}
.revision-left img, .delivery-left img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 962px) {
  .revision-box, .delivery-box {
    flex-direction: column;
  }
  .revision-right, .delivery-right {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */