#footer{
    background-color: var(--white-color);
}

.footer{
    &-box{
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    }

    &-right ul{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &-left h2, &-right li{
        font-weight: 500;
    }
    &-left {
        h2{
            font-size: 16px;
        }
    }
}